::-webkit-scrollbar {
  display: none;
  }
  .App{
    position: fixed;
    bottom: 15%;
    right: 25%;
    top: 15%;
    left: 25%;
    overflow-y: auto;
  }
  .container{
    padding-right: 0px;
  }
  .list-group-item{
    overflow: auto;
  }
.rounded-circle{
    width:150px;
    height:150px;
    margin-right:15px;
    float:left;
}
.sub_text{
  margin-left: 180px;
}
.fa.fa-plus{
float: right;
}